@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoBlack.ttf') format('ttf2');
    src: url('../FONTS/PlutoBlack.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoBold.ttf') format('ttf2');
    src: url('../FONTS/PlutoBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoCondBlack.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoCondBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoCondExtraLight.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoCondHeavy.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoCondLight.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoCondMedium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoCondRegular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoCondThin.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoHeavy.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoLight.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoMedium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoRegular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Pluto';
    src: url('../FONTS/PlutoThin.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}




















