* {
  margin: 0;
  padding: 0;
  font-family: "Pluto";
  scroll-behavior: smooth;
}

/*  DIVISION --------------------------------------------------------------------------- */

#divICON {
  position: absolute;
  margin-top: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#divICON img {
  width: 1300px;
}

#divPX1 {
  position: absolute;
  clip-path: inset(0 0 66px 0px);
  width: 101%;
  margin-left: -10px;
  margin-top: -700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ONE - HOME --------------------------------------------------------------------------- */

article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#market {
  margin-top: 350px;
  margin-left: 780px;
  position: absolute;
  display: flex;
}

.market {
  padding: 0px 20px 0px 20px;
}

.market:hover {
  padding: 1px 20px 0px 20px;
  fill-opacity: 100%;
  opacity: 0.5;
}

#phonemain {
  margin-top: 170px;
  margin-right: 40px;
}

.ONE {
  margin: 50px;
  color: white;
  margin-top: 100px;
  height: 850px;
  background-image: url(../IMG/IMG-MAIN.jpg);
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}

#logotext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logotext h1 {
  justify-content: center;
  width: 350px;
  font-size: 40px;
  margin-bottom: 5px;
}

.works {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#esq {
  width: 150px;
  height: 2px;
  background: rgb(255, 255, 255);
}

#dir {
  width: 150px;
  height: 2px;
  background: rgb(255, 255, 255);
}

#logotext h2 {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 35px;
}

/* ... TWO - THE MACRO ------------------------------------------------------------------ */

.TWO {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
  background: rgb(252, 252, 252);
  height: 950px;
  background-image: url(../IMG/PAG2-no-text.jpg);
  background-position: top 120px center;
  background-repeat: no-repeat;
}

span {
  margin: -30px;
}

span > div > p {
  font-size: 14px;
  font-weight: 300;
}

span > div > h1 {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 800;
}

/* :::::::: TEXT PAG 2 :::::::: */

.TWO > div > h1 {
  font-weight: 900;
  font-size: 40px;
}

.TWO > div > h2 {
  font-size: 25px;
  font-weight: 300;
  padding: 0px 46px 10px 46px;
  border-bottom: 3px solid black;
}

.Multi {
  position: absolute;
  margin: 89px 0px 0px -363px;
}

.Buttons {
  position: absolute;
  margin: 89px 0px 0px 30px;
}

.Grid {
  position: absolute;
  margin: 360px 0px 0px -565px;
}

.Pages {
  position: absolute;
  margin: 360px 0px 0px 375px;
}

.Support {
  position: absolute;
  margin: 615px 0px 0px -325px;
}

.Slider {
  position: absolute;
  margin: 615px 0px 0px 30px;
}

/* THREE - MULTI MACRO ------------------------------------------------------------------ */

.THREE {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#000000, #1d1d1d);
  height: 1350px;
  color: white;
}

.THREE > div > h1 {
  margin-top: 10px;
  font-size: 50px;
  font-weight: 900;
}

.THREE > div > h2 {
  font-size: 20px;
  font-weight: 200;
  padding: 0px 46px 10px 46px;
  border-bottom: 3px solid rgb(255, 255, 255);
}

#img-pag3 {
  width: 100%;
  max-width: 1920px;
  margin-top: 38px;
  clip-path: inset(0 0 1044px 0px);
}

/*  DOWNLOADS ----------------------------------------------------------------------------- */

.FOUR {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #3719bd, #181063);
  height: 700px;
}

.DownloadsAllContainer {
  display: inline-block;
  text-align: center;
}

.down-four {
  display: inline-block;
  color: white;
  font-weight: 800;
  font-size: 50px;
  border-bottom: 3px solid white;
  margin-bottom: 30px;
  margin-top: 40px;
  padding-bottom: 20px;
  padding-left: 310px;
  padding-right: 310px;
}

.DownloadsDropDownContainer {
  width: 920px;
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.541);
  transition: all 0.7s ease;
}

.DownloadsDropDownContainer:hover {
  width: 920px;
  display: inline-block;
  background-color: white;
  border-radius: 80px;
  padding: 25px;
  transition: 0.9s;
  animation: alternate-reverse;
  margin-bottom: 40px;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.541);
}

.DownloadsCurrentVersionContainer {
  font-size: 18px;
  display: inline-block;
}

.DownloadsCurrentVersionContainer img {
  display: inline-block;
  width: 40px;
  margin-top: 2px;
}

.DownloadsPlatform {
  display: inline-block;
  width: 100px;
  text-align: left;
  padding-left: 10px;
  vertical-align: top;
  margin-top: 14px;
}

.DownloadsAppVersion {
  border-right: 2px solid black;
  font-weight: 800;
  display: inline-block;
  width: 130px;
  text-align: left;
  padding-left: 10px;
  vertical-align: top;
  margin-top: 14px;
}

.DownloadsSupportedVersions {
  display: inline-block;
  width: 350px;
  text-align: left;
  padding-left: 68px;
  vertical-align: top;
  margin-top: 14px;
}

.DownloadsButton {
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  width: 120px;
  padding-right: 20px;
  vertical-align: top;
  margin-top: 4px;
  transition: all 0.3s ease;
}

.DownloadsButton:hover {
  border: 2px solid #008a7396;
  background-color: #00bb73;
  box-shadow: inset 0px 6px 10px 1px rgb(1, 53, 8);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  vertical-align: top;
}

/* SLIDE --------------------------------------------------------------------------------- */

.FIVE {
  position: relative;
  animation: colori 20s infinite;
  height: 630px;
  padding-top: 15px;
}

@keyframes colori {
  0% {
    background-color: #590fbf;
  }

  10% {
    background-color: #340b8c;
  }

  20% {
    background-color: #4f22f2;
  }

  30% {
    background-color: #010b40;
  }

  40% {
    background-color: #590fbf;
  }

  50% {
    background-color: #340b8c;
  }

  60% {
    background-color: #4f22f2;
  }

  70% {
    background-color: #010b40;
  }

  80% {
    background-color: #590fbf;
  }

  90% {
    background-color: #340b8c;
  }

  100% {
    background-color: #4f22f2;
  }
}

/* Slideshow container */

.slideshow-container {
  padding-top: 5px;
  max-width: 1600px;
  position: relative;
  margin: auto;
}

.bordaredonda {
  padding: 10px;
  border-radius: 20px;
  box-shadow: #00000066 1px 20px 10px -5px, #0000004d 0px 7px 13px -3px,
    #00000033 0px -3px 0px inset;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* POSIÇÃO "AVANÇAR" E "VOLTAR */
.next {
  right: -140px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -120px;
  border-radius: 3px 0 0 3px;
}

.active,
.dot:hover {
  background-color: #ffaa00;
}

/* TRANSIÇÃO */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* SIX - GET STARTED WITH ---------------------------------------------------------------------- */

.SIX {
  height: 850px;
  background-image: linear-gradient(45deg, #370090e7, 40%, #150037),
    url(../IMG/rocket.asvg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% 10%;
}

.foguete {
  position: relative;
  top: -1000px;
  margin-left: -290px;
  z-index: -1;
  width: 60%;
}

/* :::::::: TEXT HEADER :::::::: */
.get1 {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  font-size: 50px;
  font-weight: 200;
  color: rgb(245, 243, 248);
}

.get2 {
  display: inline-block;
  position: relative;
  left: 54%;
  transform: translateX(-50%);
  font-size: 40px;
  font-weight: 900;
  margin-top: -10px;
  border-bottom: 3px solid #150037;
  padding: 0px 295px 0px 140px;
  color: rgb(241, 238, 247);
}

/* :::::::: NUMBER BOX :::::::: */
.get3 {
  display: inline-block;
  position: relative;
  left: 52%;
  transform: translateX(-50%);
  margin-top: -170px;
  font-size: 280px;
  font-weight: 900;
  color: #370090c7;
  text-shadow: rgba(0, 0, 0, 0.24) 8px 7px 4px;
}

/* :::::::: BOX ALIGN :::::::: */
.boxall {
  text-align: center;
  color: rgb(47, 2, 129);
  margin-top: 50px;
}

.boxall h2 {
  margin-top: 30px;
}

.boxall img {
  margin-top: 30px;
  width: 30%;
}

.boxall p {
  margin-top: 30px;
  color: rgb(42, 0, 77);
}

.boxall h3 {
  color: white;
}

/* :::::::: BOX STYLE :::::::: */
.box1 {
  z-index: 212;
  margin: 5px;
  display: inline-block;
  background: rgb(255, 255, 255);
  width: 300px;
  height: 500px;
  border-radius: 20px 0px 0px 20px;
  transition: all 0.7s ease;
}

.box2 {
  margin: 5px;
  display: inline-block;
  background: rgb(255, 255, 255);
  width: 300px;
  height: 500px;
  transition: all 0.7s ease;
}

.box3 {
  margin: 5px;
  display: inline-block;
  background: rgb(255, 255, 255);
  width: 300px;
  height: 500px;
  border-radius: 0px 20px 20px 0px;
  transition: all 0.7s ease;
}

.box1:hover {
  box-shadow: rgba(17, 12, 46, 0.658) 0px 48px 60px 0px;
  transition: 0.8s;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #af78fc 100%);
  width: 300px;
  height: 500px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.959) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.box2:hover {
  box-shadow: rgba(17, 12, 46, 0.658) 0px 48px 60px 0px;
  transition: 0.8s;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(195, 151, 255, 1) 100%
  );
  width: 300px;
  height: 500px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.959) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.box3:hover {
  box-shadow: rgba(17, 12, 46, 0.658) 0px 48px 60px 0px;
  transition: 0.8s;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(195, 151, 255, 1) 100%
  );
  width: 300px;
  height: 500px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.959) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* SEVEN - WORKS WITH ----------------------------------------------------------------- */

/* :::::::: BOX ICON :::::::: */
.box1x1 {
  flex-direction: row;
}

.iconBOX {
  margin: 10px;
  display: inline-block;
  color: black;
  background: linear-gradient(
    0deg,
    rgba(25, 0, 66, 1) 9%,
    rgba(96, 0, 255, 1) 13%,
    rgba(21, 0, 55, 1) 87%,
    rgba(64, 0, 170, 1) 91%
  );
  background-position: center;
  border: 5px solid #0d0022;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  box-shadow: rgb(5 5 5) 0px 10px 8px -5px;
}

.iconBOX:hover {
  background: #00bb73;
  box-shadow: inset rgb(6, 32, 0) 0px 20px 20px -5px;
  border: 5px solid rgba(29, 250, 0, 0.089);
}

.iconBOX > title {
  display: none;
}

.iconINbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.iconINbox img {
  opacity: 80%;
  width: 60%;
  height: 60%;
}

.iconINbox img:hover {
  color: black;
  opacity: 100%;
}

/* :::::::: SEVEN1 :::::::: */
.SEVEN {
  display: flex;
  height: 400px;
  background: linear-gradient(
    143deg,
    rgba(35, 0, 93, 1) 16%,
    rgba(12, 0, 31, 1) 16%,
    rgba(35, 0, 93, 1) 76%,
    rgba(19, 0, 51, 1) 76%
  );
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  justify-content: center;
}

.SEVEN1 {
  display: inline-block;
  color: black;
  background: linear-gradient(
    -143deg,
    rgba(35, 0, 93, 1) 16%,
    #0c001f 16%,
    rgba(35, 0, 93, 1) 76%,
    rgba(19, 0, 51, 1) 76%
  );
  background-position: center;
  border: 10px solid #18003b;
  width: 400px;
  height: 350px;
  border-radius: 20px 0px 0px 20px;
  margin: 10px;
  box-shadow: rgb(5 5 5) -1px 15px 20px -5px;
}

/* :::::::: BOX TEXT - SEVEN - 1 :::::::: */

.SEVEN1 h1 {
  padding: 50px 0px 10px 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  margin-top: 15px;
  font-size: 40px;
  color: #ffffff;
}

.divP {
  margin: 20px auto 0px auto;
  width: 300px;
  height: 300px;
}

.lineh1seven {
  text-align: center;
  display: inline-block;
  border-bottom: 5px solid #130030;
}

.SEVEN1 p {
  text-align: center;
  font-weight: 200;
  display: inline-block;
  font-size: 20px;
  color: white;
}

/* :::::::: SEVEN2 :::::::: */

.SEVEN2 {
  display: flex;
  flex-direction: row-reverse;
  height: 800px;
  background: linear-gradient(
    -143deg,
    rgba(35, 0, 93, 1) 16%,
    rgba(12, 0, 31, 1) 16%,
    rgba(35, 0, 93, 1) 76%,
    rgba(19, 0, 51, 1) 76%
  );
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  justify-content: center;
}

.SEVEN22 {
  display: inline-block;
  color: black;
  background: linear-gradient(
    153deg,
    rgba(35, 0, 93, 1) 21%,
    rgba(12, 0, 31, 1) 21%,
    rgba(35, 0, 93, 1) 76%,
    rgba(19, 0, 51, 1) 76%
  );
  background-position: center;
  border: 10px solid #18003b;
  width: 400px;
  height: 741px;
  border-radius: 0px 20px 20px 0px;
  margin: 10px;
  box-shadow: rgb(5 5 5) -1px 15px 20px -5px;
}

/* :::::::: BOX TEXT - SEVEN - 2 :::::::: */

.SEVEN22 h1 {
  padding: 230px 0px 0px 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 50px;
  color: #ffffff;
}

.SEVEN22 h2 {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

.divP {
  margin: 20px auto 0px auto;
  width: 300px;
  height: 300px;
}

.SEVEN22 p {
  border-top: 5px solid #130030;
  padding: 20px;
  text-align: center;
  font-weight: 200;
  display: inline-block;
  font-size: 20px;
  color: white;
}

/* :::::::: SEVEN3 :::::::: */

.SEVEN3 {
  display: flex;
  flex-direction: row;
  height: 400px;
  background: linear-gradient(
    153deg,
    rgba(35, 0, 93, 1) 16%,
    rgba(12, 0, 31, 1) 16%,
    rgba(35, 0, 93, 1) 76%,
    rgba(19, 0, 51, 1) 76%
  );
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  justify-content: center;
}

.SEVEN33 {
  display: inline-block;
  color: black;
  background: linear-gradient(
    -153deg,
    rgba(35, 0, 93, 1) 16%,
    rgba(12, 0, 31, 1) 16%,
    rgba(35, 0, 93, 1) 76%,
    rgba(19, 0, 51, 1) 76%
  );
  background-position: center;
  border: 10px solid #18003b;
  width: 400px;
  height: 350px;
  border-radius: 20px 0px 0px 20px;
  margin: 10px;
  box-shadow: rgb(5 5 5) -1px 15px 20px -5px;
}

.SEVEN33 h1 {
  padding: 10px 0px 10px 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  margin-top: 15px;
  font-size: 50px;
  color: #ffffff;
}

.SEVEN33 h2 {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

.SEVEN33 p {
  padding: 20px;
  border-top: 5px solid #130030;
  text-align: center;
  font-weight: 200;
  display: inline-block;
  font-size: 20px;
  color: white;
}

/* CREATE AND SHARE ----------------------------------------------------------------- */
#CreateAndShare {
  height: 300px;
  text-align: center;
  background-color: #130030;
}

/* :::::::: H1 / p :::::::: */
.CreatHeader {
  margin-top: 25px;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CreatHeader h1 {
  display: inline-block;
  font-size: 50px;
  font-weight: 900;
  color: white;
}

.CreatHeader p {
  margin-bottom: 20px;
  font-size: 17px;
  color: white;
  font-weight: 100;
}

/* :::::::: SEARCH :::::::: */
.searchCreate {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.searchCreate input {
  width: 400px;
  padding: 8px;
  border-radius: 10px;
  border: 3px solid #5101c9;
}

.searchCreate button {
  cursor: pointer;
  padding: 9px;
  border-radius: 10px;
  border: 3px solid #5101c9;
  background-color: #340b8c;
  color: white;
  font-weight: 800;
}

/* :::::::: SUBMIT :::::::: */
.submit button {
  cursor: pointer;
  width: 509px;
  padding: 15px;
  border-radius: 10px;
  border: 3px solid #008a7396;
  background-color: #00bb73;
  font-size: 20px;
  color: #340b8c;
}

.submit button:hover {
  cursor: pointer;
  transition: 0.7s;
  width: 509px;
  padding: 25px;
  border-radius: 40px;
  border: 3px solid #008a7396;
  background-color: #00bb73;
  color: white;
}

/* POPULAR PAGES ----------------------------------------------------------------- */
.popularpages {
  display: flex;
  height: 630px;
  background-color: #00bb73;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 25px;
}

.pop-PAGE-ICON-PLU-INS {
  display: inline-block;
  justify-content: center;
  flex-direction: column;
}

.poph1 h1 {
  justify-content: center;
  color: white;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 10px;
}

/* :::::::: BOX :::::::: */
.popularpage1 {
  display: inline-block;
  width: 320px;
  height: 450px;
  background-color: #23005d;
  border-radius: 10px;
  margin-left: 40px;
  box-shadow: #000000 0px 25px 20px -10px;
}

.popularpage1:hover {
  border-radius: 20px;
  padding: 5px;
  transition: 0.5s;
  background: linear-gradient(
    -143deg,
    #23005d 16%,
    #0c001f 16%,
    #23005d 76%,
    #130033 76%
  );
  box-shadow: #000000 0px 45px 20px -20px;
}

.imgPop img {
  width: 270px;
  border-radius: 10px;
  margin-top: 20px;
}

#popH1ptop p {
  color: #00bb73;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
  font-weight: 700;
  font-size: 15px;
}

#popH1ptop h1 {
  color: white;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 10px;
}

/* :::::::: BOX DESC :::::::: */
.descPop {
  display: inline-block;
  width: 280px;
  height: 120px;
  background-color: #00bb73;
  border-radius: 0px 0px 10px 10px;
  box-shadow: inset -11px -10px 14px -5px #000000a8;
}

.descPop h2 {
  text-align: justify;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  padding: 14px;
}

/* :::::::: STATS :::::::: */
.statsPage {
  display: flex;
  font-size: 10px;
  justify-content: center;
  margin-top: 17px;
  gap: 18px;
}

.statsPage h1 {
  color: white;
  text-align: center;
  justify-content: center;
}

.statsPage p {
  margin-top: 5px;
  color: white;
  text-align: center;
  justify-content: center;
}

.supported h1 {
  font-size: 10px;
}

.lineVert {
  background-color: #00bb73;
  height: 40px;
  width: 2px;
}

/* :::::::: BUTTON VIEW :::::::: */
.buttonView button {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  border: 3px solid #008a73;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  margin-left: 50px;
  color: #23005d;
}

.buttonView button:hover {
  border: 2px solid #008a7396;
  background-color: #00bb73;
  box-shadow: inset 0px 6px 10px 1px rgb(1, 53, 8);
  border-radius: 40px;
  padding: 10px 28px 10px 28px;
  transition: 0.5s;
  color: white;
}

/* POPULAR ICON ----------------------------------------------------------------- */
.populariconpacks {
  display: flex;
  height: 650px;
  background-color: #23005d;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 25px;
}

.popularIcon {
  margin-top: 10px;
  margin-bottom: 7px;
  display: inline-block;
  width: 320px;
  height: 450px;
  background-color: #00bb73;
  border-radius: 10px;
  margin-left: 40px;
  box-shadow: #000000 0px 25px 20px -10px;
}

.popularIcon:hover {
  border-radius: 20px;
  padding: 5px;
  transition: 0.5s;
  background: linear-gradient(
    -143deg,
    #00bb73 16%,
    #017347 16%,
    #00bb73 76%,
    #017347 76%
  );
  box-shadow: #000000 0px 45px 20px -20px;
}

#popIconH1ptop p {
  color: #23005d;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
  font-weight: 700;
  font-size: 15px;
}

#popIconH1ptop h1 {
  color: white;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 10px;
}

/* :::::::: BOX DESC :::::::: */
.descPopIcon {
  display: inline-block;
  width: 280px;
  height: 120px;
  background-color: #23005d;
  border-radius: 0px 0px 10px 10px;
  box-shadow: inset -11px -10px 14px -5px black;
}

.descPopIcon h2 {
  text-align: justify;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  padding: 14px;
}

.lineVertIcon {
  background-color: #130030;
  height: 40px;
  width: 2px;
}

/* POPULAR PLUG-INS ----------------------------------------------------------------- */
.popularplug-ins {
  display: flex;
  height: 630px;
  background-color: #00bb73;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 25px;
}


/* TOUCH PORTAL PRO ----------------------------------------------------------------- */
#upgrades {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 950px;
  background-color: #181818;
  color: white;
  transition: height 0.5s ease;
}

#upgrades.expand {
  /* JS-EXPANDIR */
  height: 2200px;
}

/* :::::::: HEADER :::::::: */
.upgradeHeader {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upgradeHeader h1 {
  color: #00ff55;
  font-size: 50px;
  font-weight: 900;
}

.upgradeHeader p {
  font-weight: 200;
  font-size: 20px;
}

/* :::::::: BOX :::::::: */
.proBox {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 0px 20px 20px 0px;
  width: 1000px;
  height: 690px;
  background: linear-gradient(
    -143deg,
    #000000 7%,
    #017347 7.2%,
    #00bb73 21%,
    #017347 21.2%,
    #00bb73 86%,
    #017347 86.2%,
    #00bb73 90%,
    #000000 90.2%
  );
  border-radius: 20px 0px 20px 0px;
  border: 10px solid #000000;
  box-shadow: #000000 0px 45px 20px -20px;
  z-index: 3;
}

/*  BOX HEADER */
.proupgrade {
  background-color: #000000;
  border-radius: 0px 0px 20px 20px;
  width: 450px;
  height: 60px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.proupgrade h1 {
  color: #00ff55;
  font-size: 40px;
  font-weight: 900;
  justify-content: center;
}

.proupgradeP p {
  color: #000000;
  font-size: 15px;
  font-weight: 900;
  justify-content: center;
  margin-top: 5px;
  font-weight: 400;
  margin-bottom: 5px;
}

/*  BOX "SUCH"" */
.such {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boxSUCH {
  background-color: #00ff55;
  margin-left: 1px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.575);
}

.such h1 {
  font-size: 14px;
  color: #000000c4;
}

/*  VIDEO */
.barVideo {
  margin-top: 8px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

iframe {
  position: relative;
  z-index: 0;
  border-radius: 18px;
  border: 10px solid black;
  width: 700px;
  height: 394px;
}

.imgVIDEO1 img {
  position: absolute;
  z-index: 1;
  height: 370px;
  width: auto;
  right: 730px;
  top: 20px;
}

.imgVIDEO2 img {
  position: absolute;
  z-index: 1;
  height: 450px;
  width: auto;
  right: -140px;
  top: -10px;
  transform: rotate(-0.1turn);
}

/*  ABAIXO DO VIDEO */
.oneTIME {
  display: inline-block;
  background-color: #000000;
  width: 340px;
  height: 50px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: #09ff00 0px 20px 38px -15px, #bbff00c5 0px 20px 38px -15px,
    #000000 0px 15px 12px;
}

.oneTIME h1 {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  color: #00ff55;
  font-size: 25px;
}

.oneTIME h1 sup {
  font-size: 12px;
}

.proBox button {
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 21px;
  padding: 10px;
  width: 200px;
  background-color: #00ff55;
  border-radius: 10px 10px 0px 0px;
  border: 4px solid #000000;
  font-size: 17px;
  font-weight: 600;
}

.pricePRO {
  position: relative;
  background-color: black;
  border-radius: 10px 0px 20px 0px;
  width: 200px;
  height: 70px;
  left: 830px;
}

.pricePRO h1 {
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: #00ff55;
}

.pricePRO h1 sup {
  font-size: 15px;
}

.pricePRO h2 {
  padding-top: 8px;
  font-size: 13px;
}

/* :::::::: COLLAPSIBLE ::::::::.................... */

.wrapper {
  display: flex;
  margin-top: -109px;
  justify-content: center;
}

.collapsible input {
  display: none;
}

/* BOX CLICÁVEL */
.collapsible label {
  position: relative;
  font-weight: 600;
  font-size: 17px;
  background: #00ff55;
  color: #000000;
  display: inline-block;
  cursor: pointer;
  padding: 12px;
  width: 240px;
  border-radius: 10px 10px 0px 0px;
  border: 4px solid black;
  z-index: 4;
  margin-right: 15px;
}

.collapsible span {
  position: relative;
  font-weight: 600;
  font-size: 17px;
  background: #00ff55;
  color: #000000;
  display: inline-block;
  cursor: pointer;
  padding: 12px;
  width: 240px;
  border-radius: 10px 10px 0px 0px;
  border: 4px solid black;
  z-index: 4;
  margin-right: 15px;
}

.collapsible label b {
  margin-right: 50px;
}

.collapsible label:after {
  content: "";
  position: absolute;
  right: 25px;
  bottom: 8px;
  width: 30px;
  height: 30px;
  transition: all 0.7s ease;
  background: url(../IMG/Icon/downward-arrow-24.png) no-repeat 0 0;
  background-size: 30px;
  transform: rotate(180deg);
}

.LABELL:after { 
  position: absolute;
  right: 25px;
  bottom: 8px;
  width: 30px;
  height: 30px;
  background: url(../IMG/Icon/downward-arrow-24.png) no-repeat 0 0;
  background-size: 30px;
  transform: rotate(0deg) !important;
}

.LABELL{
  background-color: #bbff01 !important;
}

.collapsible span:after {
  content: "";
  position: absolute;
  right: 25px;
  bottom: 8px;
  width: 30px;
  height: 30px;
  transition: all 0.7s ease;
  background: url(../IMG/Icon/downward-arrow-24.png) no-repeat 0 0;
  background-size: 30px;
  transform: rotate(180deg);
}

.collapsible input:checked + label:after {
  transform: rotate(0deg);
}


.collapsible-text {
  overflow: hidden;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 0.5;
  transition: all 0.7s ease;
}

/* BOX QUE APARECE AO CLICAR */
.collapsible {
  /* largura */
  max-width: 1000px;
  overflow: hidden;
  font-weight: 500;
}

.collapsible input:checked ~ .collapsible-text {
  /* style / altura */
  height: 1250px;
  max-width: 1000px;
  padding-bottom: 20px;
  background: #00bb73;
  opacity: 1;
  top: 0;
  box-shadow: #00000033 0px -10px 0px inset;
  border-radius: 0px 0px 20px 20px;
}

.proX2{
  display: flex;
}

.collapsible-text h2 {
  margin-bottom: 10px;
  padding: 15px 15px 0;
  color: #ffffff;
}

.collapsible-text p strong {
  text-align: justify;
  width: 300px;
  height: 400px;
  padding-left: 25px;

  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
}

.collapsible-text p {
  text-align: justify;
  width: 300px;
  height: 400px;
  padding-left: 25px;

  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
}

.collapsible-text img{
  border-radius: 70px;
  margin-top: 12px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 130px;
}

/* DESIGN .................... */
.proupgradeMORE {
  background-color: #000000;
  border-radius: 0px 0px 20px 20px;
  width: 680px;
  height: 80px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.proupgradeMORE h1 {
  color: #00ff55;
  font-size: 30px;
  font-weight: 900;
  justify-content: center;
  margin-top: 20px;
}



/* ....................:::::::: MODELO ::::::::.................... */
.color {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 1050px;
  background-color: #0c0c0c;
  color: white;
}

/* ....................:::::::: FOOTER ::::::::.................... */
footer {
  text-align: center;
  height: 200px;
  background-color: #000000;
  color: white;
}

footer h1 {
  font-size: 20px;
  font-weight: 200;
  display: inline-block;
  margin-top: 40px;
}



